body {
	width: 100%;
	height: 100vh;
	color: black;
	font-family:"Adobe Arabic", serif;
	font-size:66px;
	font-style:normal;
	font-weight: bold;
}

div {
	width: 100%;
	height: 80%;
}

img {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
	
.container {
	width: 100%;
	height:100%;
	position: relative;
	text-align: right;
	color: black;
	font-family:"Adobe Arabic", serif;
	font-size:66px;
	font-style:normal;
	font-weight: bold;
}

p {
	text-align: center;
}
.pb{
	text-align:right;
}
.Nb{
	text-align:left;
}

table{
width:100%;
padding-right:2px;
padding-left:2px;
}

.bottom-left {
	position: absolute;
	bottom: 8%;
	left: 25%;
	text-align: center;
	line-height: 2;
}

.top-left {
	position: absolute;
	top: 40%;
	left: 44%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 2;
}

.top-right {
	position: absolute;
	top: 23%;
	right: 37%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 2;
}

.bottom-right {
	position: absolute;
	top: 30%;
	right: 20%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 2;
}

.middle-right {
	position: absolute;
	top: 38%;
	right: 0%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 1.5
}
	
.corner-right {
	position: absolute;
	top: 11%;
	right: 17%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 2
}
	
.centered {
	position: absolute;
	top: 38%;
	right: 5%;
	transform: translate(-50%, -50%);
	text-align: right;
}

.tab {
	display: none;
}
	
button {
	position: relative;
	background-color: black;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 32px;
	font-family: Raleway;
	cursor: pointer;
}

@media only screen and (max-width: 1024px){

/* body {
	width: auto;
	height: auto;
} */

/* div {
	width: auto;
	height: auto;
}*/
.container {
	font-size: 36px;
}	
.centered, .corner-right , .top-right{
	font-size:28px;
}
.bottom-left {
	font-size:18px;
}
button {
	font-size: 18px;
}

}

@media only screen and (max-width: 620px){
body {
	width: auto;
	height: auto;
}

div {
	width: auto;
	height: auto;
}
.container {
	font-size: 22px;
}	
.corner-right , .top-right{
	font-size:14px;
	line-height: 1;
}
.centered{
	font-size:14px;
}	
.bottom-left{
	font-size:14px;
}
button {
	font-size: 12px;
}
.bottom-right {
	right: 0%;
}
}
@media only screen and (max-width: 300px){
body {
	width: auto;
	height: auto;
}

div {
	width: auto;
	height: auto;
}
.container {
	font-size: 18px;
}	
.corner-right , .top-right{
	font-size:8px;
	line-height: 1;
}
.centered{
	font-size:8px;
}
.bottom-left{
	font-size:7px;
}
button {
	font-size: 9px;
}
.bottom-right {
	right: 0%;
}
}
